ul#chrome-ext-history-tabs {
    position: fixed;
    width: 400px;
    top: 20px;
    margin-left: -200px;
    left: 50%;
    background-color: #ffffff;
    color: #1c5a79;
    z-index: 1000;
    list-style-type: none;
    padding: 0;

    .tab {
        width: 100%;
        margin: 0;
        padding: 4px;
        height: auto;
        box-sizing: border-box;
        font-size: 12px;
        font-family: sans-serif;
        text-align: left;
        line-height: 18px;
        font-weight: 400;

        &.highlighted {
            background-color: #1c5a79;
            color: #ffffff;
        }
    }
}