ul#chrome-ext-history-tabs {
	position: fixed;
	width: 400px;
	top: 20px;
	margin-left: -200px;
	left: 50%;
	background-color: #ffffff;
	color: #1c5a79;
	z-index: 1000;
	list-style-type: none;
	padding: 0;

	.tab {
		width: 100%;
		padding: 4px;
		font-size: 12px;
		height: auto;
		font-family: sans-serif;

		&.highlighted {
			background-color: #1c5a79;
			color: #ffffff;
		}
	}
}